build --incompatible_enable_cc_toolchain_resolution

build:linux_arm64 --platforms @zig_sdk//platform:linux_arm64
build:linux_arm64 --extra_toolchains @zig_sdk//toolchain:linux_arm64_musl

# rust clippy
# build:ci --aspects=@rules_rust//rust:defs.bzl%rust_clippy_aspect
# build:ci --output_groups=+clippy_checks

# rust fmt
build:ci --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect
build:ci --output_groups=+rustfmt_checks