[workspace]
resolver = "2"

members = [
    "clash",
    "clash_lib",
    "clash_doc",
    "clash_ffi",
]


[workspace.package]
version = "0.7.4"
repository = "https://github.com/Watfaq/clash-rs.git"
edition = "2021"

[profile.release]
opt-level = "s"
codegen-units = 1
lto = true
strip = true
debug = 1

[patch.crates-io]
tokio-rustls = { git = "https://github.com/Watfaq/tokio-rustls.git", rev = "6b9af8ac7bb5abc159d9a67e9ddbf84127559a4a"}
rustls = { git = "https://github.com/Watfaq/rustls.git", rev = "a7d217bf235aeb3ca8d123352d90a27c1ca0f41b"}
