[workspace]
resolver = "2"

members = [
    "clash",
    "clash_lib",
    "clash_doc",
]


[workspace.package]
version = "0.7.1"
repository = "https://github.com/Watfaq/clash-rs.git"
edition = "2021"

[profile.release]
opt-level = "s"
codegen-units = 1
lto = true
strip = true
debug = 1

[patch.crates-io]
tokio-rustls = { git = "https://github.com/Watfaq/tokio-rustls.git", rev = "6b9af8ac7bb5abc159d9a67e9ddbf84127559a4a"}
rustls = { git = "https://github.com/Watfaq/rustls.git", rev = "f84c0f8020b252978e9b157179e9a99233cd33aa"}
