[workspace]
resolver = "2"

members = [
    "clash",
    "clash_lib",
    "clash_doc",
    "clash_ffi",
]


[workspace.package]
version = "0.1.14"
repository = "https://github.com/Watfaq/clash-rs.git"
edition = "2021"

[profile.release]
opt-level = "s"
codegen-units = 1
lto = true
strip = true
