[package]
name = "clash"
repository = { workspace = true }
version = { workspace = true }
edition = { workspace = true }

[[bin]]
name = "clash"
path = "src/main.rs"

[dependencies]
clap = { version = "4.5.9", features = ["derive"] }

clash_lib = { path = "../clash_lib", version = "0.1" }