[package]
name = "clash-doc"
repository = { workspace = true }
version = { workspace = true }
edition = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clash-lib = { path = "../clash-lib", version = "*" }
