[package]
name = "clash_lib"
version = "0.1.0"
edition = "2021"

[features]
default = ["shadowsocks"]

[dependencies]
tokio = { version = "1", features = ["full"] }
tokio-util = { version = "0.7", features = ["net", "codec", "io"] }
tokio-rustls = "0.23.4"
thiserror = "1.0"
async-trait = "0.1"
anyhow = "1.0"
futures = "0.3"
bytes = "1.1"
async-recursion = "1"
ipnet = "2.5"
url = "2.2"
regex = "1"
state = "0.5"
byteorder = "1.4"
lru_time_cache = "0.11"
hyper = { version = "0.14", features = ["http1","http2","client", "server", "tcp"] }
http = { version = "0.2" }
httparse = "1.8.0"
h2 = "0.3"
prost = "0.11"
tower = { version = "0.4", features = ["util"] }
libc = "0.2"
foreign-types-shared = "0.3.1"
network-interface = "1.0.3"
base64 = "0.21"
uuid = { version = "1.2.1", features = ["v4", "fast-rng", "macro-diagnostics"] }
boring = { git = "https://github.com/Watfaq/boring.git", rev = "a5c2442" }
boring-sys = { git = "https://github.com/Watfaq/boring.git", rev = "a5c2442" }
hyper-boring = { git = "https://github.com/Watfaq/boring.git", rev = "a5c2442" }
tokio-boring = { git = "https://github.com/Watfaq/boring.git", rev = "a5c2442" }
crc32fast = "1.3.2"
brotli = "3.3.4"
hmac = "0.12.1"
sha2 = "0.10.6"
md-5 = "0.10.5"
chacha20poly1305 = "0.10"
aes-gcm = "0.10"
filetime = "0.2"
axum = { version = "0.6.20", features = ["ws"] }
tower-http = { version = "0.4.0", features = ["fs", "trace", "cors"] }
chrono = { version = "0.4.26", features = ["serde"] }


serde = { version = "1.0", features=["derive"] }
serde_yaml = "0.9"
erased-serde = "0.3.30"

trust-dns-client = "0.22"
trust-dns-resolver = "0.22.0"
trust-dns-proto = { version = "0.22", features = ["dns-over-rustls", "dns-over-https-rustls"]}
# DoH
rustls = { version  = "0.20", features=["dangerous_configuration"] }
webpki-roots = "0.22"
dhcproto = "0.8"

rand = "0.8"

socket2 = "0.4"
tokio-tungstenite = "0.20.0"

tracing = "0.1"
tracing-subscriber = "0.3"
atty = "0.2"

shadowsocks = { git = "https://github.com/Watfaq/shadowsocks-rust.git", optional = true, features=["aead-cipher-2022"] }
maxminddb = "0.23.0"
public-suffix = "0.1.0"
murmur3 = "0.5.2"

[dev-dependencies]
tempfile = "3.3"
ctor = "0.2"
mockall = "0.11.4"
tokio-test = "0.4.2"
axum-macros = "0.3.8"

[target.'cfg(target_os = "macos")'.dependencies]
security-framework = "2.8.0"
