[package]
name = "clash_lib"
repository = { workspace = true }
version = { workspace = true }
edition = { workspace = true }

[features]
default = ["shadowsocks"]
tracing = ["console-subscriber", "tracing-timing"]
bench = ["criterion"]

[dependencies]
tokio = { version = "1", features = ["full"] }
tokio-util = { version = "0.7", features = ["net", "codec", "io"] }
tokio-rustls = "0.24"
thiserror = "1.0"
async-trait = "0.1"
anyhow = "1.0"
futures = "0.3"
bytes = "1.5"
async-recursion = "1"
ipnet = "2.9"
url = "2.2"
regex = "1"
byteorder = "1.5"
state = "0.6"
lru_time_cache = "0.11"
hyper = { version = "0.14", features = ["http1","http2","client", "server", "tcp"] }
http = { version = "0.2" }
httparse = "1.8.0"
h2 = "0.3"
prost = "0.12"
tower = { version = "0.4", features = ["util"] }
libc = "0.2"
foreign-types-shared = "0.3.1"
network-interface = "1.1.0"
base64 = "0.21"
uuid = { version = "1.5.0", features = ["v4", "fast-rng", "macro-diagnostics", "serde"] }
boring = { git = "https://github.com/Watfaq/boring.git", rev = "24c006f" }
boring-sys = { git = "https://github.com/Watfaq/boring.git", rev = "24c006f" }
hyper-boring = { git = "https://github.com/Watfaq/boring.git", rev = "24c006f" }
tokio-boring = { git = "https://github.com/Watfaq/boring.git", rev = "24c006f" }
ip_network_table-deps-treebitmap = "0.5.0"
once_cell = "1.18.0"

# opentelemetry
opentelemetry = "0.20"
tracing-opentelemetry = "0.21" 
opentelemetry-jaeger = { version = "0.19", features = ["collector_client", "hyper_collector_client", "rt-tokio"] }

crc32fast = "1.3.2"
brotli = "3.4.0"
hmac = "0.12.1"
sha2 = "0.10.8"
md-5 = "0.10.5"
chacha20poly1305 = "0.10"
aes-gcm = "0.10"
filetime = "0.2"
axum = { version = "0.6.20", features = ["ws"] }
tower-http = { version = "0.4.0", features = ["fs", "trace", "cors"] }
chrono = { version = "0.4.26", features = ["serde"] }

tun = { git = "https://github.com/Watfaq/rust-tun.git", rev = "c310e43928297697e7334bb28c2874282bff4334",  features = ["async"] }
netstack-lwip = { git = "https://github.com/Watfaq/netstack-lwip.git", rev = "ea4487b6b824d808cd29f09f098863cfcfcf78a5" }

boringtun = { version = "0.6.0" }

serde = { version = "1.0", features=["derive"] }
serde_yaml = "0.9"
erased-serde = "0.3.30"

hickory-client = "0.24"
hickory-resolver = "0.24"
hickory-server = { version = "0.24", features = ["dns-over-rustls", "dns-over-https-rustls"] }
hickory-proto = { version = "0.24", features = ["dns-over-rustls", "dns-over-https-rustls"]}

# DoH
rustls = { version  = "0.21", features=["dangerous_configuration"] }
rustls-pemfile = "1.0.3"
webpki-roots = "0.25"
dhcproto = "0.10"

rand = "0.8"

socket2 = { version = "0.5", features = ["all"] }
tokio-tungstenite = "0.20.0"

tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tracing-oslog = "0.1"
tracing-appender = "0.2.2"


shadowsocks = { git = "https://github.com/Watfaq/shadowsocks-rust.git", optional = true, features=["aead-cipher-2022"], rev = "2021741" }
maxminddb = "0.23.0"
public-suffix = "0.1.0"
murmur3 = "0.5.2"

console-subscriber = { version = "0.2.0", optional = true }
tracing-timing = { version = "0.6.0", optional = true }
criterion = { version = "0.5", features = ["html_reports", "async_tokio"], optional = true }

[dev-dependencies]
tempfile = "3.8"
ctor = "0.2"
mockall = "0.11.4"
tokio-test = "0.4.3"
axum-macros = "0.3.8"


[target.'cfg(target_os = "macos")'.dependencies]
security-framework = "2.8.0"
